<footer>
    <ul id="footerHolder">

        <li>
            <a href="/authors">Blog Anonyme</a>
        </li>

        <li>
            <a href="/vaccines">Secret Vax</a>
        </li>

        <li>
            <a href="/regions">Vax In Baguette</a>
        </li>
    </ul>
</footer>