<footer>
    <ul id="footerHolder">

        <li>
            <a href="/authors">Antimaskers</a>
        </li>

        <li>
            <a href="/vaccines">Secret Vax</a>
        </li>

        <li>
            <a href="/regions">Baguette Vax</a>
        </li>
    </ul>
</footer>