<nav>
    <ul id="navHolder">
            <a href="/" style="margin-right: 300px; font-weight: bold;">Spread Truth <br> Not Covid</a>

        <li>
            <a href="/authors">Blog Anonyme</a>
        </li>

        <li>
            <a href="/vaccines">Secret Vax</a>
        </li>

        <li>
            <a href="/regions">Baguette Vax</a>
        </li>


        <% if (locals.isConnected == null) { %>
            <li>
                <a href="/users/register">Créer un compte </a>
                <span>/</span>
                <a href="/users/login"> Se connecter</a>
            </li>
        <% } else { %>
            <li>
                <a href="/users/">Profil</a>
            </li>
        <% } %>
    </ul>
</nav>

