<nav>
    <a href="/">
        Spread Lies <br> Not Covid
    </a>

    <ul>
        <li style="display: inline-block; vertical-align: top; color: white; margin: 5px;">
            <a href="/">Index</a>
        </li>

        <li style="display: inline-block; vertical-align: top; color: white; margin: 5px;">
            <a href="/authors">Authors</a>
        </li>
        
        <li style="display: inline-block; vertical-align: top; color: white; margin: 5px;">
            <a href="/authors/new">New authors</a>
        </li>

        <li style="display: inline-block; vertical-align: top; color: white; margin: 5px;">
            <a href="/vaccination">Vaccines</a>
        </li>

        <li style="display: inline-block; vertical-align: top; color: white; margin: 5px;">
            <a href="/vaccines/new">New vax</a>
        </li>

    </ul>
</nav>