<div id="indexCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="/img/covid_bg.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block carouinfos">
                <h5 class="carouphrase">Spread Truth <br>Not Covid</h5>
            </div>
        </div>
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/img/blog_bg.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block carouinfos">
                <h5 class="carouphrase">Section Blog</h5>
                <p class="caroutexte">Laissez vos émotions parler</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/img/vaccines_bg.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block carouinfos">
                <h5 class="carouphrase">Section vax</h5>
                <p class="caroutexte">Checkez les derniers vaccins à la mode</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#indexCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>