html{
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

.btn-context {
    background: linear-gradient(90deg, #80dfff, #33ccff) !important;
}

th{
    font-weight: normal !important;
}