<label>Nom</label>
<input type="text" name="name" value="<%= vaccine.name %>">

<label>Compte</label>
<input type="number" name="totalVaccines" value="<%= vaccine.totalVaccines %>">

<label>Date</label>
<input type="datetime" name="date" value="<%= vaccine.code %>">

<label>Code</label>
<input type="text" name="code" value="<%= vaccine.date %>">