<h2> epic new stuff </h2>


<form action="/vaccines" method="POST">

    <%- include('_form_fields') %>

    <a href="/vaccination">Annuler</a>
    <button type="submit">Créer</button>
</form>