<h2 style="text-align: center;"> New Vax </h2>
<br>

<form action="/vaccines" method="POST">

    <%- include('form_fields') %>
    <br>
    
    <a href="/vaccines" class="btn btn-secondary">Annuler</a>
    <button type="submit" class="btn btn-context">Créer</button>
</form>