<div class="row">

    <div class="col-6">
        <!-- MAIL -->
        <label class="form-label">Mail</label>
        <input class="form-control" type="email" name="loginMail" required>
        <br>
    </div>
    <div class="col-6">
        <!-- MOT DE PASSE -->
        <label class="form-label">Mot de passe</label>
        <input class="form-control" type="password" name="loginPassword" required>
        <br>
    </div>

</div>