<div class="row">

    <div class="col-6">
        <!-- OLD PASSWORD -->
        <label class="form-label">Ancien mot de passe</label>
        <input class="form-control" type="email" name="loginMail" required>
        <br>
    </div>
    <div class="col-6">
        <!-- NEW PASSWORD -->
        <label class="form-label">Nouveau mot de passe</label>
        <input class="form-control" type="password" name="loginPassword" required>
        <br>
    </div>

</div>