<div class="row">

    <div class="col-12">
        <label class="form-label">Nom</label>
        <input type="text" name="registerName" class="form-control" required>
        <br> 
    </div>
    <!-- NAME -->
    
    <div class="col-12">
        <!-- MAIL -->
        <label class="form-label">Mail</label>
        <input type="email" name="registerMail" class="form-control" required>
        <br>    
    </div>

    <div class="col-6">
        <!-- MOT DE PASSE -->
        <label class="form-label">Mot de passe</label>
        <input type="password" name="registerPassword" class="form-control" required>
        <br>
    </div>

    <div class="col-6">
        <!-- CONFIRMATION -->
        <label class="form-label">Confirmation</label>
        <input type="password" name="registerPasswordConfirm" class="form-control" required>
        <br>    
    </div>



    
    
    
</div>